defmodule <%= @base_module %>.<%= @repo_module %>.Migrations.CreateMagicAuthOneTimePasswords do
  use Ecto.Migration

  def change do
    execute "CREATE EXTENSION IF NOT EXISTS citext"

    create table(:magic_auth_one_time_passwords) do
      add :email, :citext, null: false
      add :hashed_password, :string, null: false

      timestamps(updated_at: false)
    end

    create index(:magic_auth_one_time_passwords, [:email])
  end
end
